.moves-list {
  display: flex;
  flex-direction: row;
  color: var(--dark-tile);
  flex: 1 1;
  flex-wrap: wrap;
  align-content: start;
  overflow: auto;
  font-size: 1.1em;
}

.moves-list.dark {
  color: var(--dark-tile-d);
  background: none;
}

.moves-list.light {
  color: var(--dark-tile);
  background: none;
}

.moves-list div {
  flex-basis: 35%;
  padding-left: 15%;
  text-align: left;
  position: relative;
  padding-bottom: 5px;
  top: 20px;
}

.moves-list div[data-number]:nth-child(odd)::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  opacity: 0.5;
}

@media all and (max-width: 1023px) {
  .moves-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    max-height: 60px;
    padding: 10px 0;
  }

  .moves-list div {
    flex-basis: auto;
    padding-left: 25px;
    padding-right: 10px;
    white-space: nowrap;
    top: 0;
  }
}
