:root {
  --tile-size: 90px;
  --light-tile: #f0d8b7;
  --dark-tile: #b48764;
  --light-tile-d: #ccdae0;
  --dark-tile-d: #80a1b5;
  --bg-color: #202020;
  --highlight: rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 900px) {
  :root {
    --tile-size: calc((100vw - 40px) / 8);
  }
}
